{
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["warn", {"allowExpressions": true}],
        "@typescript-eslint/member-delimiter-style": ["error", {
          "multiline": {
            "delimiter": "comma",
            "requireLast": true
          },
          "singleline": {
            "delimiter": "comma",
            "requireLast": false
          },
          "overrides": {
            "interface": {
              "multiline": {
                "delimiter": "semi",
                "requireLast": true
              }
            }
          }
        }],
        "@typescript-eslint/no-non-null-assertion": 0
      }
    }
  ],
  "rules": {
    "object-curly-spacing": ["error", "never"],
    "prefer-const": "off",
    "@typescript-eslint/no-explicit-any": 0
  }
}